
.DS_Store
PythonSwiftLinkCLI.xcodeproj/xcshareddata/xcschemes/PythonSwiftLinkCLI.xcscheme
PythonSwiftLinkCLI.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
PythonSwiftLinkCLI.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/IDEFindNavigatorScopes.plist
PythonSwiftLinkCLI.xcodeproj/xcshareddata/xcschemes/PythonSwiftLinkCLI.xcscheme
PythonSwiftLinkCLI.xcodeproj/xcuserdata/musicmaker.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PythonSwiftLinkCLI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
PythonSwiftLinkCLI.xcodeproj/xcuserdata/musicmaker.xcuserdatad/xcschemes/xcschememanagement.plist
