
.DS_Store
PythonSwiftLinkCLI.xcodeproj/xcshareddata/xcschemes/PythonSwiftLinkCLI.xcscheme
PythonSwiftLinkCLI.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
